html::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

html::-webkit-scrollbar-track {
    background-color: black;
}

html::-webkit-scrollbar-thumb {
    background-color: #FFD427;
    border-radius: 10px;
}

html::-webkit-scrollbar-corner {
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.hidden {
    opacity: 0;
    transition: all 0.1s;
}

.show {
    opacity: 1;
    animation: showElement 1s forwards;
    transition: all 0.3s;
}

@keyframes showElement {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
    }
}

.box-flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.box-flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    background-color: black;
}

.header {
    top: 0;
    position: sticky;
    color: white;
    background-color: black;
    height: 90px;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
    z-index: 10;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
}

.header nav ul {
    flex-wrap: wrap;
    gap: 30px;
    font-size: 20px;
}

.header nav ul li {
    cursor: pointer;
    list-style: none;
}

.header nav ul li:hover {
    cursor: pointer;
    padding: 5px;
    border-bottom: 3px solid white;
}

.header nav ul #contato {
    border-radius: 10px;
    background-color: #FFD427;
    padding: 18px;
    color: black;
}

.header nav ul #contato:hover {
    color: black;
    background-color: white;
    border: none;
}

.header nav #bt-menu {
    display: none;
}

#container-logo {
    gap: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#container-logo #logo-image {
    width: 120px;
}

.apresentation {
    padding: 80px;
    flex-wrap: wrap;
    color: white;
    background-color: #101010;
    height: min-content;
    /*height: 450px;*/
    background-image: url('../images/blob-scene-haikei\ \(1\).svg');
    background-size: cover;
    background-position-y: bottom;
    background-repeat: no-repeat;
    gap: 140px;
}

.apresentation h1 {
    font-weight: lighter;
    text-align: center;
    font-size: 40px;
}

.apresentation img {
    width: 380px;
    animation: floating 4s ease-in-out infinite;
}

@keyframes floating {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

.secondary-apresentation {
    background-color: black;
    height: min-content;
    justify-content: start;
    gap: 50px;
    padding: 50px;
    /*background-image: url('../images/layered-waves-haikei\ \(13\).svg');
    background-size: cover;
    background-position-y: top;
    background-repeat: no-repeat;*/
}

.secondary-apresentation h1 {
    color: white;
    font-weight: lighter;
    font-size: 40px;
}

.secondary-apresentation .container-qs {
    gap: 150px;
    flex-wrap: wrap;
}

.secondary-apresentation .container-qs-section {
    color: white;
    text-align: left;
    gap: 20px;
    padding: 20px;
    width: 220px;
    border-left: 4px solid #FFD427;
    font-size: 22px;
}

.secondary-apresentation .container-qs-section:hover {
    color: black;
    background-color: #eeeeee;
    border: none;
    border-radius: 10px;
}

.secondary-apresentation .container-qs-section ion-icon {
    color: #FFD427;
    width: 90px;
    height: 90px;
}

.secondary-apresentation .container-qs-section:hover ion-icon {
    color: #000;
}

.products {
    justify-content: start;
    padding: 20px;
    height: min-content;
    color: white;
    gap: 27px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, #101010 100%);
}

.products h1 {
    color: white;
    font-weight: lighter;
    font-size: 40px;
}

.products .product {
    padding: 30px;
    gap: 130px;
    flex-wrap: wrap;
    background-color: black;
    border-radius: 10px;
    margin-bottom: 100px;
}

.products .product .description {
    align-items: start;
    gap: 20px;
    padding: 5px;
}

.products .product .description h2 {
    color: white;
    font-weight: lighter;
    font-size: 40px;
}

.products .product .description p {
    font-size: 20px;
    width: 500px;
}

.products .product .description ul li {
    list-style-position: inside;
    margin-bottom: 10px;
}

.products .product .description .bt-start-product {
    text-align: center;
    width: 100%;
    height: 60px;
    background-color: #FFD427;
    border-radius: 10px;
    font-size: 20px;
    outline: none;
    border: none;
}

.products .product .description .bt-start-product:hover {
    background-color: #eeeeee;
    color: #000;
}

.products .product img {
    border-left: 4px solid #FFD427;
    padding: 40px;
    width: 500px;
}

.social {
    background-color: black;
    color: white;
    padding: 30px;
    background-image: url('../images/blob-scene-haikei\ \(1\).svg');
    background-size: cover;
    background-position-y: top;
    background-repeat: no-repeat;
    border-top: 50px solid #000;
}

.social h1 {
    color: white;
    font-weight: lighter;
    font-size: 40px;
    margin-bottom: 50px;
}

.social .redes {
    gap: 120px;
    flex-wrap: wrap;
}

.social .redes .rede {
    text-align: center;
}

.social .redes .rede h2 {
    font-weight: lighter;
}

.social .redes .rede ion-icon {
    color: white;
    font-size: 60px;
}

.footer {
    color: white;
    background-color: black;
    height: 200px;
    gap: 30px;
    text-align: center;
}

.footer .bt-back-top {
    color: #000;
    text-align: center;
    width: 25%;
    height: 35px;
    background-color: #FFD427;
    border-radius: 20px;
    font-size: 20px;
    outline: none;
    border: none;
}

.footer .bt-back-top:hover {
    background-color: #eeeeee;
    color: #000;
}

@media screen and (max-width: 732px){
    #container-logo #logo-image {
        width: 100px;
    }
    .header ul{
        display: none;
    }
    .header nav #bt-menu {
        display: flex;
        font-size: 40px;
    }
    .apresentation {
        padding: 20px;
        gap: 80px;
        height: min-content;
    }
    .apresentation h1 {
        font-size: 10vw;
        padding: 10px;
        border-left: solid;
        border-left-width: 6px;
        border-left-color: #FFD427;
    }
    .secondary-apresentation .container-qs {
        gap: 50px;
    }
    .secondary-apresentation .container-qs-section {
        width: 64vw;
    }
    .products .product {
        gap: 10px;
        margin-bottom: 10px;
    }
    .products .product .description {
        align-items: center;
    }
    .products .product .description p {
        width: 100%;
    }
    .products .product img {
        border: none;
        padding: 0;
        width: 90vw;
    }
}



.apresentation-slides {
    padding: 20px;
    background-color: #000;
}




.slideshow-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
  }
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  .potato {
    height: 400px;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 101;
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 3s;
  }
  
  @keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
  }